<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccairbag.api.mapper.CcairbagIncomeRecordsMapper">
    
    <resultMap type="CcairbagIncomeRecords" id="CcairbagIncomeRecordsResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="money"    column="money"    />
        <result property="orderId"    column="order_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCcairbagIncomeRecordsVo">
        select id, shop_id, money, order_id, create_by, create_time, update_by, update_time from ccairbag_income_records
    </sql>

    <select id="selectCcairbagIncomeRecordsList" parameterType="CcairbagIncomeRecords" resultMap="CcairbagIncomeRecordsResult">
        <include refid="selectCcairbagIncomeRecordsVo"/>
        <where>
            deleted = 0
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
        </where>
    </select>
    
    <select id="selectCcairbagIncomeRecordsById" parameterType="Long" resultMap="CcairbagIncomeRecordsResult">
        <include refid="selectCcairbagIncomeRecordsVo"/>
        where deleted = 0 and id = #{id}
    </select>

    <select id="getSumMoneyFor7Days" parameterType="Long" resultType="BigDecimal">
        <![CDATA[
        SELECT IFNULL(SUM(money), 0)
        FROM ccairbag_income_records
        WHERE shop_id = #{shopId}
         AND create_time < NOW() - INTERVAL 10 SECOND;
         --  AND create_time &lt; CURDATE() - INTERVAL 7 DAY;
        ]]>
    </select>


    <select id="getSumMoneyFor7DaysIn" parameterType="Long" resultType="BigDecimal">
        <![CDATA[
        SELECT IFNULL(SUM(money), 0)
        FROM ccairbag_income_records
        WHERE shop_id = #{shopId}
          AND create_time > NOW() - INTERVAL 10 SECOND;
        --  AND create_time &lt; CURDATE() - INTERVAL 7 DAY;
        ]]>
    </select>


    <insert id="insertCcairbagIncomeRecords" parameterType="CcairbagIncomeRecords">
        insert into ccairbag_income_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="money != null">money,</if>
            <if test="orderId != null">order_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="money != null">#{money},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCcairbagIncomeRecords" parameterType="CcairbagIncomeRecords">
        update ccairbag_income_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="money != null">money = #{money},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>



    <delete id="deleteCcairbagIncomeRecordsById" parameterType="Long">
        update ccairbag_income_records set deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteCcairbagIncomeRecordsByIds" parameterType="String">
        update ccairbag_income_records set deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
</mapper>